[% title = i18n("Credit Card Registration") %]
[% INCLUDE header.html 
    body_attributes = 'onload="$(\'firstfield\').focus();"';
%]

    [%# WELCOME TEXT %]
    <div id="about">
        <p style="font-size: 20px; font-family: Humanist777BT-BoldB;">MTS Wi-Fi Hotspot Login</p>
        <p style="font-size: 15px;">Purchase a Wi-Fi Plan</p>
    </div>

    <form name="billing" method="post" action="/pay">
        <input type="hidden" name="destination_url" value="[% destination_url %]" />
        [%# TIERS CHOICE %]
            <div class="input">
        [% FOREACH tier IN tiers.keys.sort %]
                <input id="[% i18n(tiers.$tier.id) | html %]" name="tier" type="radio" [% IF selected_tier == tiers.$tier.id OR (not selected_tier and loop.first()) %] checked="checked"[% END %]
                    value="[% i18n(tiers.$tier.id) | html %]" />
                <!-- <b>[% i18n(tiers.$tier.name) | html %] - $[% i18n(tiers.$tier.price) | html %]</b><br/>-->
                <label for="[% i18n(tiers.$tier.id) | html %]">[% i18n(tiers.$tier.description) | html %]</label><br/>
        [% END %]
            </div>
    [%# ERROR %]
    [% IF txt_validation_error.defined %]<div class="error"><p>[% i18n(txt_validation_error) %]</p></div>[% END %]

        [%# CREDIT CARD INFORMATIONS %]
        <div class="input">
            <span>[% i18n("First Name") %]</span>
            <input class="field" name="firstname" id="firstfield" type="text" value="[% firstname | html %]" />
            <span>[% i18n("Last Name") %]</span>
            <input class="field" name="lastname" type="text" value="[% lastname | html %]" />
            <span>[% i18n("Email") %]</span>
            <input class="field" name="email" type="text" value="[% email | html %]" />
        </div>
        <div class="input">
            <img src="/content/images/creditcards.png">
        </div>
        <div class="input">
            <span>[% i18n("Credit Card Number") %]</span>
            <input class="field" name="ccnumber" type="text" value="[% ccnumber | html %]" />
            <span>[% i18n("Expiration Date") %] [% i18n("(MMYY)") %]</span>
            <input class="field" name="ccexpiration" type="text" value="[% ccexpiration | html %]" />
            <span>[% i18n("Card Verification Number") %]</span>
            <input class="field" name="ccverification" type="text" value="[% ccverification | html %]" />
        </div>

        [%# AUP %]
        <div class="input">
          [%# The space below is intententionnal %]
          <div class="notmobile"><input name="aup_signed"  type="hidden" value="on" /></div>
          <div class="mobile"><input name="aup_signed" type="hidden" value="on" /></div>
        </div>


        [%# SUBMIT %]
        <div class="input">
            <input type="submit" class="btn" name="submit" value="[% i18n("Continue") %]" />
        </div>

    </form>

[% INCLUDE footer.html %]
