[%# Footer %]
    </div>
    <div id="footer">
	<div style="display: inline-block;"><img src="/common/logos.png" alt="Partner Logos" /></div>
	<p>By using this service you agree to the <a href="http://www.mts.ca/termsandconditions">MTS&nbsp;Terms&nbsp;and&nbsp;Conditions</a>.</p>
<!--
      [% UNLESS dont_show_help -%]
        [%  FOREACH txt_help_info IN list_help_info %]
          [% txt_help_info.name %]: [% txt_help_info.value %]
        [%  END %]
      [%- END %]
-->
    </div>
  </div>
  </body>
</html>
